pandas
scikit-learn
numpy
autoflake
black
ipython
ipykernel
isort
jupyter
jupyterlab
jupytext
python-dotenv
yfinance
matplotlib
statsmodels
seaborn
torch
transformers
datasets
pandas-datareader
mlflow
wandb
